.container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr , 2fr;
}

.searchBar {
   grid-column-start: 2 ;
   padding-top: 2em;
   grid-column-end: 12;
   grid-row-start: 1;
   grid-row-end: 1;
   justify-self: center;
}

.shopping{
    grid-column-start: 2 ;
    padding-top: 8em;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;

}

.products{
   grid-column-start: 2 ;
   padding-top: 2em;
   grid-column-end: 12;
   grid-row-start: 2;
   grid-row-end: 2;
   justify-self: center;
   align-self: center;
}



